.default-form-input{
  width: 72vw;
  height: 1vh;
  padding: 1rem;
  border: 1px solid #CA8A04;
  background-color: #F5F5F5;
  color: #404040;
  margin-bottom: 1.25rem;
  border-radius: 4px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  position: relative;
  text-align: left;
  display: flex;
  align-items: center;
}
.default-form-input::placeholder{
  color: #40404058;
}
.default-form-input.search-input{
  margin-bottom: 0px; 
}
.search-icon{
  position: absolute;
  right: 16vw;
}