@import "./css/Utils/Reset.css";
@import "./css/Form/Input.css";
@import "./css/Form/Form.css";
@import "./css/Form/Title.css";
@import "./css/Utils/Logo.css";
@import "./css/Utils/Button.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
